body {
    background-image: url('https://img-fotki.yandex.ru/get/6432/25429581.29/0_ba29e_b958821c_orig');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    text-align: center;
}

h1 {
    text-align: center;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: whitesmoke;
    font-family: 'Permanent Marker', cursive;
    margin-top: 25px;
}

h2 {
    text-align: center;
    color: black;
    -webkit-border-before-color: red;
}

#button {
    margin: 50px auto;
    font-size: 2.25rem;
}

.container {
    background-color: rgb(5, 151, 151);
    height: 450px;
    width: 80%;
    margin-top: 100px;
    text-align: center;
}

.qBox {
    margin: 0 auto;
    text-align: center;
}

#question{
    text-align: center;
    color: rgb(47, 47, 172);
}

.options {
    text-align: center;
}

.options:hover {
    border: 2px solid rgb(206, 59, 59);
    text-align: center;
}

.iBox{
    margin-top: 0 auto;
    text-align: center !important;
    display: inline-block;
}

#end {
    visibility: hidden;
    margin-top: 0 auto;
    width: 80%;
    
}

#correct, #wrong {
    font-size: 24px;
    color: rgb(206, 59, 59);
    text-align: center !important;
    font-family: 'Permanent Marker', cursive;
}

.correct, .wrong {
    text-align: center !important;
    font-family: 'Permanent Marker', cursive;
    color: white;
}