body {
    background-image: url('https://img-fotki.yandex.ru/get/6432/25429581.29/0_ba29e_b958821c_orig');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    text-align: center;
}

h1 {
    text-align: center;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: whitesmoke;
    font-family: 'Permanent Marker', cursive;
    margin-top: 25px;
}


h2 {
    text-align: center;
    color: black;
    -webkit-border-before-color: red;
}

#button {
    margin: 50px auto;
    font-size: 2.25rem;
    
}

.container {
    background-color: rgb(5, 151, 151);
    height: 550px;
    width: 60%;
    margin-top: 100px;
  
}

.qBox {
    margin: 50px auto;
    text-align: center;
     
}

#question{
    text-align: center;
    color: rgb(47, 47, 172);
    /* margin-left: 10px; */
}

.options{
    text-align: left;
    margin-left: 10px;
}
.options:hover {
    border: 2px solid rgb(206, 59, 59);

}
.iBox{
    margin-top: 25px auto;
    text-align: center;
    margin-left: 10px;
}

#end {
    visibility: hidden;
    margin-top: 150px auto;
    width: 100%;
    

    
}

#correct, #wrong {
    font-size: 24px;
    color: white;
}